.header--container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  display: flex;
}

.header--container img {
  width: -webkit-fill-available;
  height: 320px;
  position: absolute;
  margin-left: 40em;
}

.header--sub_container {
  display: flex;
}

.header--sub_container h1 {
  width: 65%;
  font-family: var(--font-family);
  font-size: 3rem;
}

.header--sub_container p {
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 6px;
  width: 50%;
}

.header--left_container {
  display: block;
  width: 100%;
}

.main__button {
  background-color: #377666;
  padding: .75rem 1.25rem;
  border-radius: 3.5rem;
  border: none;
  line-height: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.main__button a {
  color: white;
}

@media screen and (max-width: 640px) {
  .header--container {
    display: block;
    margin-top: 2em;
    padding: 8px;
  }

  .header--sub_container h1 {
    font-size: 32px;
    width: auto;
  }

  .header--sub_container p {
    font-size: 18px;
    width: 90%;
  }


  .header--container img {
    display: block;
    position: relative;
    padding: 0;
    margin-left: 0;
    margin-top: 3em;
    border-radius: 12px;
    z-index: -1;
  }
}