.work__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12em;
}

.work--header h3 {
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
}

.work--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work--main img {
  width: 50%;
  height: auto;
}

.work--content {
  margin-top: 5em;
  width: 45%;
  color: white;
  background: #152435;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 2rem;
}

.work--content h3 {
  font-size: 48px;
  padding-bottom: 12px;
}

.work--content li {
  margin-bottom: .5em;
  color: white;
  font-family: var(--font-text);
}

@media screen and (max-width: 640px) {
  .work__container {
    padding: 8px;
  }

  .work--header {
    padding-top: 2rem;
  }

  .work--header h3 {
    font-size: 64px;
    line-height: 75.2px;
    font-family: var(--font-family);
  }

  .work--content h3 {
    font-size: 32px;
  }

  .work--main {
    display: block;
    padding-top: 4rem;
  }

  .work--main img {
    width: 100%;
  }

  .work--content {
    width: 100%;
    margin-top: 1.5em;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}